.startGame {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.buttonGame {
  max-width: 300px;
  max-height: 60px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

p {
  font-size: 19px;
  margin: 50px;
}
